body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Comic Sans MS', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: rgba(18, 18, 18, 0.865); /* Transparent dark background */
  backdrop-filter: blur(50px); /* Blur effect */
  background-size: cover;
  background-position: center;
  /* background-image: url('./background.png'); If you want to use an image */
  position: relative;
}

.app-container > * {
  z-index: 1;
}

.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2); /* Adjusted for glassmorphism */
  backdrop-filter: blur(10px); /* Subtle blur effect */
  z-index: 0;
}

.header {
  width: 100%;
  background: rgba(110, 203, 239, 0.868);
  background-color: rgb(1, 57, 58);
  backdrop-filter: blur(100px);
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.search-bar {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}